#content {
	padding-top: 0px;
	padding-right: 70px;
	padding-bottom: 0px;
	padding-left: 70px;
}

#container {
	padding-left: 34px;
}

#noticeDate {
	float: right;
}

.noticePanel {
	float: left;
    width: 25%;
    min-height: 150Px;
    margin-right: 10px
}